doctype html
html
  head
    title Quality Life
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js")
  body
    nav(class="navbar navbar-expand-sm bg-light")
      div(class="container-fluid")
        div(class="navbar-header")
          a(class="navbar-brand" href = "/dashboard") Dashboard
        ul(class="navbar-nav")
          li(class="nav-item")
            a(class="nav-link" href="/login") Log In

    br
    h1(class = "text-center") Welcome to Quality Life
